@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


:root{
    --pinky: #fbe3e8;
    --bgreeny: #5cbdb9;
    --tgreeny: #ebf6f5;
}

body{
    background-color: var(--tgreeny);
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}


nav.navbar-inverse {
    background-color: var(--bgreeny);
    transition: all .3s ease;
}

nav.navbar-inverse .alamort{
    font-size: 3rem;
    margin: 1rem 0;
    margin-bottom: -1rem;
    font-family: 'Dancing Script', cursive;
    color: var(--blue);
}

nav.navbar-inverse .alamort:hover{
    color: var(--pinky);
    transition: all .3s ease;
}

nav.navbar-inverse ul{
    list-style-type: none;
    color: var(--blue);
    text-align: center
}

nav.navbar-inverse ul.navbar-nav li a{
    color: var(--purple);
    font-size: 1.5rem;
    margin: 0 2rem;
    margin-top: 1rem;
    text-align: center;
}

nav.navbar-inverse ul.navbar-nav li a:hover{
    background-color: var(--green);
    transition: all .3s ease;
    border-radius: 4rem;
    background-color: var(--tgreeny);
    color: var(--bgreeny);
}

nav.navbar-inverse ul.navbar-right li a{
    background-color: var(--pinky);
    border-radius: 4rem;
    border: 0.3rem dotted var(--bgreeny);
    margin-bottom: 1rem;
    margin-top: 1rem;
}

nav.navbar-inverse ul.navbar-right li a:hover{
    border: 0.2rem dotted var(--bgreeny);
    transition: all .3s ease;
}

.container1{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/home.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    text-decoration: none;
}

.navbar1{
    height: 12%;
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    cursor: pointer;
}

.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
    display: none;
}

.container1 .navbar1 nav{
    flex: 1;
    text-align: right;
}

.container1 .navbar1 nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 60px;
}

.container1 .navbar1 nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-family: Source Sans Pro;
}

.container1 .navbar1 nav ul li a:hover{
    color: #fff;
}

.container1 .navbar1 nav ul li a{
    text-decoration: none;
}

.cool-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .5s;
}

.cool-link:hover:after{
    width: 100%;
    transition: width .5s;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
    margin-top: -38%;
    margin-left: 4rem;
}

.col{
    flex-basis: 50%;
    margin-left: 20rem;
    color: #fff;
    margin-right: 8rem;
}

.col1{
    margin-left: -2rem;
    margin-top: -4rem;
}

.col h1{
    font-size: 70px;
}

.col p{
    font-size: 17px;
    line-height: 20px;
}

.cardo{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 10px 15px;
    background-position: center;
    background-size: cover;
    margin-top: 2rem;
    margin-left: 2rem;
    transition: 0.5s;
}

.cardo:hover{
    transform: translateY(-10px);
}

.cardo1{
    background-image: url(../images/carousel1.jpeg);
}

.cardo2{
    background-image: url(../images/carousel2.jpeg);
}

.cardo3{
    background-image: url(../images/carousel3.jpeg);
}

.cardo4{
    background-image: url(../images/carousel4.jpeg);
}


.rhead{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rhead span{
    text-transform: uppercase;
    display: block;
}

.text1{
    color: #6b6565;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: white;
    position: relative;
    animation: text 3s 1;
}

.text2{
    font-size: 30px;
    color: #498C86;
}

    @keyframes text {
        0%{
            color: white;
            margin-bottom: -48px;
        }

        30%{
            letter-spacing: 25px;
            margin-bottom: -40px;
        }

        85%{
            letter-spacing: 8px;
            margin-bottom: -40px;
        }
    }


.card-wrapper{
    display: flex;
    margin-left: 2rem;
    margin-right: 9rem;
    margin-top: 4rem;
}

.card-wrappero{
    display: flex;
    margin-left: 22rem;
    margin-right: 9rem;
    margin-top: 4rem;
}

.card0{
    position: relative;
    width: 500px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.card0 .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.card0 .circle::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6b6565;
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.card0:hover .circle:before{
    clip-path: circle(400px at center);
    background: #BFB4AE;
}

.card0 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    border-radius: 2rem;
    pointer-events: none;
    transition: 0.5s;
}

.card0:hover img{
    left: 72%;
    height: 400px;
}

.card0 .content1{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    margin-left: -8rem;
}

.card0:hover .content1{
    left: 0;
    opacity: 1;
    visibility: visible;
}

.card0 .content1 h3{
    font-family: Dancing Script, cursive;
    font-size: 5rem;
    color: #fff;
}

.vertical{
    writing-mode: vertical-lr;
}


.footer{
    background-color: var(--tgreeny);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4rem;
}

.footer h2{
    font-size: 3.5rem;
}

.footer .f1, .footer .f2, .footer .f3{
    margin-left: 25%;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.footer h3{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.footer .f ul{
    list-style-type: none;
}

.footer .f ul li{
    margin-top: 1rem;
}

.footer .link{
    text-decoration: none;
    color: black;
}

.footer .link:hover{
    color: var(--bgreeny);
    transition: all .4s ease;
}

.nav li a div.table:hover{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nav li a div.table{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.card-wrapper1{
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin-top: 10%;
    margin-left: 15%;
    margin-bottom: 5%;
}

.card1{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    border-radius: 1rem;
}

.card1:hover{
    transform: translateY(20px);
}

.card1:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
    background: linear-gradient(to bottom right, #eaf6f5 0%, #5cbdb9 100%);
}

.card1:hover:before{
    opacity: 0.5;
}

.card1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1rem;
}

.card1 .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card1:hover .info{
    opacity: 1;
    transform: translateY(0px);
}

.card1 .info h1{
    margin: 0;
}

.card1 .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.box{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
    margin-top: 20%;
    margin-left: 42.5%;
    margin-bottom: 20%;
}
    @keyframes animate {
        0%{
            transform: perspective(1000px) rotateY(0deg);
        }
        100%{
            transform: perspective(1000px) rotateY(360deg);
        }
    }

.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.box span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}


@import url(//fonts.googleapis.com/css?family=Lato:300:400);



h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size: 0rem;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(to top right, #eaf6f5 0%, #5cbdb9 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px;
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}


.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}


.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5%;
    grid-column-gap: 5rem;
    grid-row-gap: 8rem;
}

.wrap{
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    text-decoration: none;
}

.wrap img{
    border-radius: 2rem;
    height: 300px;
    padding: 3rem;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    margin-left: 12%;
}

.wrap img:hover{
    padding: 0rem;
    transition: 0.5s all ease-in-out;
}

.wrap h2{
    text-align: center;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 2.5rem;
}

.wrap h2:hover{
    color: var(--bgreeny);
    transition: 0.5s all ease-in-out;
}

.wrap p{
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
}

.wrap a{
    text-align: right;
    margin-right: 2rem;
}



.c{
    font-size: 30px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}

.c:hover{
    color: black;
}

.a1{
    background-color: #0D0000;
    margin-left: 4%;
    border-radius: 10rem;
    margin-right: 30%;
    margin-top: 10%;
}

.a1:hover{
    transition: 1s all ease;
    background-color: white;
}

.a2{
    background-color: #498C86;
    margin-left: 30%;
    border-radius: 10rem;
    margin-right: 4%;
    margin-top: 10%;
}

.a2:hover{
    transition: 1s all ease;
    background-color: white;
}

.a3{
    background-color: #51A696;
    margin-left: 4%;
    border-radius: 10rem;
    margin-right: 30%;
    margin-top: 10%;
    
}

.a3:hover{
    transition: 1s all ease;
    background-color: white;
}

.a4{
    background-color: #BFB4AE;
    margin-left: 30%;
    border-radius: 10rem;
    margin-right: 4%;
    margin-top: 10%;
}

.a4:hover{
    transition: 1s all ease;
    background-color: white;
}

.a5{
    background-color: #6b6565;
    margin-left: 4%;
    border-radius: 10rem;
    margin-right: 30%;
    margin-top: 12%;
    margin-bottom: 10%;
}

.a5:hover{
    transition: 1s all ease;
    background-color: white;
}

.c img{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2rem;
    margin: 5rem;
    object-fit: cover;
    margin-left: 10rem;
}

.left1{
    height: 200px;
    width: 200px;
}

.right1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-top: -20%;
    font-size: 4rem;
    margin-left: 30%;
}

.about h1{
    font-size: 10rem;
    color: #0D0000;
    margin-top: 5%;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.a1 img{
    border: 1rem solid #0D0000;
}

.a2 img{
    border: 1rem solid #498C86;
}

.a3 img{
    border: 1rem solid #51A696;
}

.a4 img{
    border: 1rem solid #BFB4AE;
}

.a5 img{
    border: 1rem solid #6b6565;
}

.color{
    background-color: #D9D6D0;
    margin-bottom: -5%;
}

.links a{
    color: #7a7977;
    text-decoration: none;
    font-size: 3rem;
}

.links a:hover{
    color: var(--bgreeny);
    transition: 0.5s all ease;
}

.topic{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/about-main.jpg);
    width: 100%;
    height: 400px;
    margin-top: 5%;
}

.topic h2{
    padding: 10% 30%;
    color: white;
    font-size: 7rem;
    background: linear-gradient();
    font-family: Dancing Script, 'cursive';
}

.intro{
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 3rem;
}

.intro h5{
    text-align: center;
    font-size: 4rem;
}

.intro p{
    font-size: 3rem;
    text-align: center;
}

.col2{
    text-align: center;
    margin-top: 4rem;
    margin-left: 25%;
    margin-right: 25%;
}

.col2 h5{
    font-size: 2rem;
}

.col2 p{
    font-size: 1.5rem;
}

.heading{
    text-align: center;
    margin-top: 10%;
}

.heading h2{
    font-size: 6rem;
    display: block;
    color: #6b6565;
    transition: .5s;
}

.heading h2:hover{
    color: #51A696;
}

.boxing{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4rem;
    grid-row-gap: 3rem;
    margin-top: 10rem;
    margin-left: 16rem;
    height: 250px;
}

.middle1{
    position: absolute;
    margin-top: 1rem;
}

.middle2{
    position: absolute;
    margin-top: 1rem;
    margin-left: 30%;
}

.middle3{
    position: absolute;
    margin-top: 1rem;
    margin-left: 60%;
}

.card{
    cursor: pointer;
    width: 250px;
    height: 250px;
    border-radius: 2rem;
}

.front, .back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    border-radius: 1rem;
    transition: .6s linear;
}

.front img{
    height: 100%;
}

.front{
    transform: perspective(600px) rotateY(0deg);
}

.back{
    background: #7a7977;
    transform: perspective(600px) rotateY(180deg);
}

.back-content{
    color: #fff;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    margin-top: 10rem;
    text-decoration: none;
}

.card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}

.back-content h2 a{
    text-decoration: none;
    color: #fff;
    transition: .5s;
}

.back-content:hover h2 a{
    color: #7ce6dd;
}

div.contact{
    margin-top: 15rem;
}

div.contact h1{
    font-family: Dancing Script, 'cursive';
    color: #6b6565;
    font-size: 8rem;
    text-align: center;
}

div.contact h1 span{
    color: #498C86;
}

div.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    align-items: center;
    text-align: center;
    margin-left: 16rem;
}

div.contact .card-wrapper .card{
    text-align: center;
}

div.contact .card-wrapper .card img{
    margin-bottom: 3rem;
}

div.contact .card-wrapper .card h2{
    font-weight: 400;
    margin-bottom: 1rem;
    font-family: Dancing Script, 'cursive';
}

div.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
    margin-bottom: 4rem;
}